/*  BOUTONS  */
/*  MEDIA QUERIES  */
body {
  width: 100%;
  font-size: 14px;
  font-family: "Roboto";
  margin: 0;
  background-color: #c0c0c065;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  body {
    font-size: 20px;
  }
}
body a {
  color: #000000;
}
body a:hover {
  font-size: 110%;
  color: #9356dc;
}
body header h1 {
  padding: 25px 0;
  font-size: 24px;
  font-weight: bold;
  background-color: #353535;
  color: #d3d3d3;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body header h1 {
    font-size: 35px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  body header h1 {
    font-size: 45px;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  body header h1 {
    font-size: 50px;
  }
}
body h2 {
  font-size: 21px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .coord-photo {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  body .coord-photo {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  body .coord-photo {
    display: flex;
    justify-content: space-around;
  }
}
body .coord-photo img {
  margin: 25px 0;
  max-height: 200px;
  object-fit: scale-down;
}
body .coord-photo #presentation {
  margin-top: 20px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body .coord-photo #presentation {
    margin-left: 1%;
    padding: 1%;
    text-align: left;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  body .coord-photo #presentation {
    margin-left: 1%;
    padding: 1%;
    text-align: left;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  body .coord-photo #presentation {
    margin-left: 1%;
    padding: 1%;
    text-align: left;
  }
}
body #categories {
  margin-top: 50px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body #categories {
    display: flex;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  body #categories {
    display: flex;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  body #categories {
    display: flex;
  }
}
body #categories .separation {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted black;
}
body #categories .italic {
  font-style: italic;
}
body #categories .ctd {
  margin-top: 0 !important;
}
body #categories .ctd #techno,
body #categories .ctd #divers {
  margin: 40px 0;
  padding: 15px;
  border: 2px solid #313131;
  border-radius: 20px;
}
body #categories .ctd #comp {
  margin: 20px 0;
  padding: 15px;
  border: 2px solid #313131;
  border-radius: 20px;
}
body #categories .ctd .techno-img {
  width: 48px;
  margin: 0 5px;
}
body #categories .ctd h2 {
  padding-bottom: 10px;
}
body #categories .efcl #exp,
body #categories .efcl #form,
body #categories .efcl #logiciels {
  margin: 20px 0;
  padding: 15px;
  border: 2px solid #313131;
  border-radius: 20px;
}
body #categories .efcl .titles {
  font-weight: bold;
  padding-bottom: 10px;
}
body .deco {
  border-bottom: 2px solid #9356dc;
}
body .decoration {
  border-bottom: 3px solid #9356dc;
}
body footer {
  padding: 25px 0;
  font-size: 16px;
  background-color: #353535;
  color: #d3d3d3;
}
@media (min-width: 768px) and (max-width: 1023px) {
  body footer {
    font-size: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  body footer {
    font-size: 22px;
  }
}
@media (min-width: 1440px) and (max-width: 1920px) {
  body footer {
    font-size: 24px;
  }
}
body footer a {
  color: #d3d3d3;
}

/*# sourceMappingURL=style.css.map */
