body {
    width: 100%;
    font-size: 14px;
    font-family: $police-text;
    margin: 0;
    background-color: $shadow;
    @include tablette {
        font-size: 16px;
    }
    @include pc {
        font-size: 18px;
    }
    @include pc-xl {
        font-size: 20px;
    }
    & a {
        color: $primary-font-color;
    }
    & a:hover {
        font-size: 110%;
        color: $color-primary;
    }
    & header {
        background-color: $footer;
        color: $secondary-font-color;
        & h1 {
            padding: 25px 0;
            font-size: 24px;
            font-weight: bold;
            @include tablette {
                font-size: 35px;
            }
            @include pc {
                font-size: 45px;
            }
            @include pc-xl {
                font-size: 50px;
            }
        }
        & p {
            padding: 25px 0;
            font-size: 20px;
            font-weight: bold;
            @include tablette {
                font-size: 30px;
            }
            @include pc {
                font-size: 40px;
            }
            @include pc-xl {
                font-size: 45px;
            }
        }
    }
    & h2 {
        font-size: 21px;
    }
    & li {
        list-style-type: none;
    }
    & .coord-photo {
        color: $primary-font-color;
        @include tablette {
            display: flex;
            justify-content: space-around;
        }
        @include pc {
            display: flex;
            justify-content: space-around;
        }
        @include pc-xl {
            display: flex;
            justify-content: space-around;
        }
        & img {
            margin: 25px 0;
            max-height: 200px;
            object-fit: scale-down;
        }
        & #presentation {
            margin-top: 20px;
            text-align: center;
            // border: 1px solid red;
            // border-radius: 20px;
            @include tablette {
                margin-left: 1%;
                padding: 1%;
                text-align: left;
            }
            @include pc {
                margin-left: 1%;
                padding: 1%;
                text-align: left;
            }
            @include pc-xl {
                margin-left: 1%;
                padding: 1%;
                text-align: left;
            }
        }
    }
    & #categories {
        margin-top: 50px;
        @include tablette {
            display: flex;
        }
        @include pc {
            display: flex;
        }
        @include pc-xl {
            display: flex;
        }
        & .ctd {
            margin-top: 0!important;
            & #techno,
            #divers {
                margin: 40px 0;
                padding: 15px;
                border: 2px solid rgb(49, 49, 49);
                border-radius: 20px;
                background-color: $secondary-font-color;
            }
            & #comp {
                margin: 20px 0;
                padding: 15px;
                border: 2px solid rgb(49, 49, 49);
                border-radius: 20px;
                background-color: $secondary-font-color;
            }
            & .techno-img {
                width: 48px;
                margin: 0 5px;
            }
            & h2 {
                padding-bottom: 10px;
            }
            & .comp-web {
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
                & .greenstar {
                    color: $greenstar!important;
                    margin: 0 2px;
                    font-size: 110%;
                }
                & .redstar {
                    color: $redstar!important;
                    margin: 0 2px;
                    font-size: 110%;
                }
            }
        }
        & .efcl {
            margin-top: 0!important;
            & #exp,
            #form,
            #logiciels {
                margin: 20px 0;
                padding: 15px;
                background-color: $secondary-font-color;
                border: 2px solid rgb(49, 49, 49);
                border-radius: 20px;
            }
            & .separation {
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 1px dotted black;
            }
            & .italic {
                font-style: italic;
                font-weight: bold;
                border: 1px solid $color-primary;
                border-radius: 10px;
                padding: 2px 8px;
                background-color: $secondary-font-color;
            }
            & .titles {
                font-weight: bold;
                padding-bottom: 10px;
            }
            & .experience {
                padding: 5px 5px!important;
                margin: 10px 0;
                background-color: $shadow;
                border: 2px $color-primary solid;
                border-radius: 15px;
                @include tablette {
                    padding: 10px 10px!important;
                }
                @include pc {
                    padding: 15px 15px!important;
                }
                @include pc-xl {
                    padding: 20px 20px!important;
                }
                & p {
                    margin: 0;
                }
            }
        }
    }
    & .deco {
        border-bottom: 2px solid $color-primary;
    }
    & .decoration {
        border-bottom: 3px solid $color-primary;
    }
    & footer {
        padding: 25px 0;
        font-size: 16px;
        background-color: $footer;
        color: $shadow;
        @include tablette {
            font-size: 20px;
        }
        @include pc {
            font-size: 22px;
        }
        @include pc-xl {
            font-size: 24px;
        }
        & a {
            color: $shadow;
        }
    }
    & .boldital {
        font-size: 110%;
        font-style: italic;
        font-weight: bold;
        border-bottom: 3px double $color-secondary;
    }
}