$color-primary: #9356dc;
$primary-font-color: #000000;
$shadow: #d3d3d3;
$footer: #353535;
$police-text: "Roboto";
$tablette-min: 768px;
$tablette-max: 1023px;
$pc-ecran-min: 1024px;
$pc-ecran-max: 1439px;
$pc-ecran-xl-min: 1440px;
$pc-ecran-xl-max: 1920px;