$color-primary: #9356dc;
$color-secondary: #99e2d0;
$color-tertiary: #fafadc;
$primary-font-color: #000000;
$secondary-font-color: #ffffff;
$redstar: #b41f1f;
$greenstar: rgb(55, 199, 55);
$shadow: #d3d3d3;
$footer: #353535;
$police-text: "Roboto";
$tablette-min: 768px;
$tablette-max: 1023px;
$pc-ecran-min: 1024px;
$pc-ecran-max: 1439px;
$pc-ecran-xl-min: 1440px;
$pc-ecran-xl-max: 1920px;